.history
.vscode
env-handwrite
hand-write
.env
backend/env
# backend/font_assets/*
# !backend/font_assets/.gitkeep
venv
backend/flask_session/*
backend/_pycache__/*
原始handwrite.py
测试.txt
backend\app.log
*.log
app.log
backend/notebook.jpg
backend/notebook2.jpg
backend/app.log
*.pyc
backend/A4本子.jpg
ignore_rm.bat
*.pdf
backend/textfileprocess/doc
backend/textfileprocess/docx
backend/pandoc-3.1.11-windows-x86_64.msi
backend/pyproject2.toml
node_modules